@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

*, h1, h2, h3, div {
  margin-block: 0;
  margin-inline: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "Caprasimo", serif;
  font-weight: 400;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: rgb(73, 73, 73);
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  text-shadow: black 5px 5px 20px;
}

.focus,
.break {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  gap: 2rem;
}

h1 {
  /* background-color: aqua; */
  font-size: 20rem;
  color: #ffcc00;
  line-height: 0.6em;
  margin: 0 !important;
  padding: 0 !important;
}

.h3 {
  color: #fff1b7;
  background: none;
  border: none;
  font-size: 10rem;
  line-height: 1em;

  width: 100%;
}

.break,
.focus {
  flex-direction: column;
  gap: 0;
}

.btnContainer {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: 200px;
}

button {
  color: #222222;
  background-color: #fff1b7;

  font-size: 2rem;
  height: fit-content;
  border: #222222 solid 2px;
  box-shadow: black 5px 5px;
  border-radius: 0.5em;
  cursor: pointer;

  padding: 0.5rem 2rem;
  transition: all 200ms;
}

button:hover {
  transform: scale(0.95);
  box-shadow: none;
}

button[disabled] {
  transform: scale(0.95);
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.7;
}
